*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color: rgb(228, 245, 239);
}
.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.btn{
    background: #ff3d00;
    color: #fff;
    margin: 10px 30px;
    border-radius:3px;
    cursor: pointer;
}
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform:translate(-50%,-50%);
    text-align: center;
    color: rgb(16, 15, 15);
    list-style-type:none;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #0c0c0c;
    font-size: 24px;
    border: 2px solid rgb(188, 240, 115);
    background-color: aliceblue;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.content li{
    list-style-type: none;
}
.content h1{
    font-size:80px;
    font-weight: 700;
    margin-bottom: 40px;
    transition: 0.5s;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height:100%;
    }
}
.content h1 a:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;

}


.foot{
    display: inline-block;
    margin: 0 ;
    text-decoration: none;
    inset: 10px;
    font-style: italic;
    font-size: larger;
    background-color: rgb(91, 203, 231);
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
     word-spacing: 50px;
  }

.abcd ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 ;
    justify-content: center;
    text-align: center;

  }

  .abcd ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}
.abcd ul li{
    align-items: center;
}


