
/*#canvas
{
    position: absolute;
    width:500px;
    height:500px;
    left: 50%;
    margin-left: -250px;
    margin-top: 14px;
    background-color: #F0F0F0;
}*/

#header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
    font-size:medium;
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 40px;
    height: 50px;
    text-align: center;
    background-color: #e0e1df;
    padding: 10px;

}

#canvasContainer {
    text-align: center; 
    background-color: #e0e1df;
/*  All elements will have the text-align: centre property. As such, to change this for individual elements, you need to specifically specify the text-align property*/
}

#canvas {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 600px;
    height: 600px;
    background-color: #F0F0F0;
    border-radius: 10px;
}

#addButton {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    border-radius: 14px;
    margin-bottom: 5px;
}

#toolsContainer {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: 310px;
}

.toolInnerContainer {
    border: solid 1px #E0E0E0;
    border-radius: 4px;
    padding: 10px 0 8px 0;
    margin-bottom: 4px;
}

.toolInnerContainerLabel {
    border: solid 1px #E0E0E0;
    border-radius: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", sans-serif;
}

.infoContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.probeInfoContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.scaleContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.promptStyle {
    font-family: "Open Sans", sans-serif;
}

.textContainer {
    width: 50px;
    border-radius: 5px;
}

#addPositive {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 55px;
    height: 53px;
    background-image:url(images/addButton_sprites.gif);
    background-position: 0px 0px;
    cursor: pointer;
}

#addPositive:hover {
    background-position: 65px 0px;
}

#addNegative {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 55px;
    height: 53px;
    background-image:url(images/addButton_sprites.gif);
    background-position: 0px 123px;
    cursor: pointer;
}

#addNegative:hover {
    background-position: 65px 123px;
}

/* #probeButton {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 55px;
    height: 53px;
    background-image:url(images/addButton_sprites.gif);
    background-position: 0px 70px;
    cursor: pointer;
} */

/* #probeButton:hover {
    background-position: 65px 70px;
} */

.expandable {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 8px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    border-radius: 2px;
}

.expandableInline {
    display: inline block;
    margin-top: 8px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    border-radius: 2px;
}

#chargeList {
    position: absolute;
    left: 50%;
    margin-left: -540px;
    height: 450px;
    width: 210px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F5F5F5;
    font-family: "Lato", sans-serif;
    overflow: scroll;
}

#titleChargeList {
    font-size: 20px;
    margin-bottom: 10px;
}

#chargeListBlueLine {
    width: 194px;
    margin-bottom: 5px;
}

#chargeList li {
    list-style: none;
/* cursor: pointer; */
    text-align: left;
}

.liClassNoShade {
    margin-bottom: 2px;
    background-color: #EAEAEA;
}

.liClassNoShade:hover {
    background-color: #E0E0E0;
}

.liClassShade {
    margin-bottom: 2px;
    background-color: #E0E0E0;
}

#colorCodeBar {
    display: inline-block;
    width: 17px;
    height: 70px;
}

.liMainDiv {
    display: inline-block;
    vertical-align: top;
    width: 173px;
    text-align: center;
}

.textElement {
    display: inline-block;
    width: 173px;
/*  height: 54px; */
    height: 50px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}

.listElementExpandButton {
/*  height:15px;
    background-color: #EFEFEF;*/
}

.listPosContainer {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 173px;
    color: #505050;
    font-size: 14px;
}

.popUp {
    display: none;
}

.optionsPointChargePopUp {
    position: absolute;
    width: 310px;
    height: 220px;
    left: 50%;
    top: 50%;
    margin-left: -155px;
    margin-top: -110px;
    background-color: #FAFAFA;
    border: solid #BDBDBD 1px;
/*  -moz-box-shadow: 0 0 14px #BBB;
    -webkit-box-shadow: 0 0 14px#BBB;
    box-shadow: 0 0 14px #BBB;*/
}

.optionsLineChargePopUp {
    position: absolute;
    width: 450px;
    height: 360px;
    left: 50%;
    top: 50%;
    margin-left: -225px;
    margin-top: -180px;
    background-color: #FAFAFA;
    border: solid #BDBDBD 1px;
/*  -moz-box-shadow: 0 0 14px #BBB;
    -webkit-box-shadow: 0 0 14px#BBB;
    box-shadow: 0 0 14px #BBB;*/
}

.crossImage {
    position: absolute;
    top: 6px;
    right: 6px;
    background: url(images/cross.png);
    width: 21px;
    height: 21px;
    /* cursor: pointer; */
}

.crossImage:hover {
    background: url(images/crossHover.png);
}

.optionsHeadingPopUp {
    background-color: white;
    height: 26px;
    padding: 9px;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: #5C5C5C;
    box-shadow: 0px 2px 3px #BCBCBC;
}

.optionsLeftContainer {
    display: inline-block;
    text-align: right;
    width: 145px;
    height: 110px;
    padding-right: 5px;
    vertical-align: top;
}

.optionsRightContainer {
    display: inline-block;
    text-align: left;
    width: 145px;
    height: 110px;
    padding-left: 5px;
    vertical-align: top;
}

.optionsLineChargeLeftContainer {
    display: inline-block;
    text-align: right;
    width: 215px;
    height: 250px;
    padding-right: 5px;
    vertical-align: top;
}

.optionsLineChargeRightContainer {
    display: inline-block;
    text-align: left;
    width: 215px;
    height: 250px;
    padding-left: 5px;
    vertical-align: top;
}

.optionsTextContainer {
    font-family: "Open Sans", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    height: 30px;
}

.optionsInputBox {
    font-family: "Open Sans", sans-serif;
    margin-top: 8px;
    font-size: 10px;
}

.optionsBottomContainer {
    height: 51px;
}

.optionsPosNegSel {
    width: 27px;
    /* cursor: pointer; */
    margin-left: 22px;
}

.optionsUpdateDeleteButton {
    font-family: "Open Sans", sans-serif;
    border: solid #DBDBDB 1px;
    display: inline-block;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.optionsUpdateDeleteButton:hover {
    border: solid #ADADAD 1px;
}

.listOptionsButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/settingsGearLarge.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 19px;
    width: 19px;
}

.listOptionsButton:hover {
    background-image: url(images/settingsGearHoverLarge.png);
}

.listOptionsButton:active {
    background-image: url(images/settingsGearLarge.png);
}

.fullScreenDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* Color white with alpha 0.9*/
    display: none;
}

.foot{
    display: inline-block;
    margin: 0 ;
    text-decoration: none;
    inset: 10px;
    font-style: italic;
    font-size: larger;
    background-color: rgb(15, 112, 136);
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
     word-spacing: 50px;
     height: 60px;
  }

.foot ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 ;
    justify-content: center;
    text-align:justify;
    font-size: larger;

  }

.foot ul li a{
    text-decoration: none;
    color:red;
    padding: 5px 0;
    position:relative;
}
.abcd ul li{
    align-items: center;
}