*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.nav-links ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    border-radius: 10px;
}
.header{
    height: 100vh;
    width: 100vw;
    padding: 0 8%;
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: url(Sim3.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.nav-links li a{
    text-decoration: none;
    color:rgb(22, 22, 22);
    padding: 5px 0;
    position: relative;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
.logo{

    width: 100px;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.foot{
    display: inline-block;
    margin: 0 ;
    text-decoration: none;
    inset: 10px;
    font-style: italic;
    font-size: larger;
    background-color: rgb(15, 112, 136);
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
     word-spacing: 50px;
     height: 30px;
  }

.foot ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 ;
    justify-content: center;
    text-align:justify;
    font-size: larger;

  }

.foot ul li a{
    text-decoration: none;
    color:red;
    padding: 5px 0;
    position:relative;
}
.abcd ul li{
    align-items: center;
}

.nav-links li a{
    text-decoration: none;
    color: rgb(17, 16, 16);
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.btn{
    background: #ff3d00;
    color: #fff;
    padding: 10px 30px;
    border-radius:3px;
    cursor: pointer;
}
