*{
    box-sizing: border-box;

}
.nav-links ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(135, 139, 139);
}
.nav-links li a{
    text-decoration: none;
    color:rgb(22, 22, 22);
    padding: 5px 0;
    position: relative;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.logo{
    width: 90px;
    padding: 05px;
    border-radius: 30px;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(17, 16, 16);
    padding: 5px 3px;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.btn{
    background: #ff3d00; 
    color: #fff;
    padding: 10px 30px;
    border-radius:3px;
    cursor: pointer;
}


.foot{
    display: inline-block;
    margin: 05px ;
    text-decoration: none;
    inset: 10px;
    font-style: italic;
    font-size: larger;
    background-color: rgb(15, 112, 136);
    width: 100vw;
    letter-spacing: 1px;
    text-align: center;
     word-spacing: 50px;
     height: 60px;
  }

.header1{
    margin: 5px;
  }
.foot ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 ;
    justify-content: center;
    text-align:justify;
    font-size: larger;

  }

.foot ul li a{
    text-decoration: none;
    color:red;
    padding: 5px 0;
    position:relative;
}
.abcd ul li{
    align-items: center;
}
.input{
    background-color:aqua;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    font-size: larger;
    padding: 0px;
}
.chargetype{
    font-weight: 500;
    font-size: larger;
}
.Submit{
  padding: 15px;  
  border-radius: 5px;
}
.pointcharge{
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
}
#header{
    padding-bottom: 50px;
}