/* now just called expContainer */

/*.pcExpContainer {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}*/

/*.probeExpContainer {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}*/

/*No idea what this was used for*/

/* .buttonAlone {
	margin-left: auto;
    margin-right: auto;
	display: block;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	border-radius: 2px;	
}
*/